/*
Theme Name: __CHILD_THEME_NAME__
Theme URI: https://beplusprojects.com/
Description: __DESCRIPTION__
Author: __AUTHOR__
Author URI: https://beplusprojects.com/
Template: __PARENT_THEME_SLUG__
Version: __VERSION__
Text Domain: __CHILD_THEME_SLUG__
*/

