/* Main SCSS file */

// Use variables first
@import 'variables';

// Use mixins
@import 'mixins';

// Use base styles
@import 'base';

// Use layout
@import 'layout';

// Use components
@import 'components/buttons';

